<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David Chin | developer</title>
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body style="background-color:#4cbcfe">
    <header>
      <h1>David Chin</h1>
      <h2>consulting</h2>
        <nav>
          <ul style="font-size:30px">
            <b><a href="/"><li>About</li></a></b>
            <b><a href="/project"><li>Projects</li></a></b>
            <b><a href="/XP"><li>Xp</li></a></b>
            <b><a href="/contact"><li>Contact</li></a></b>
          </ul>
        </nav>
    </header>
    <div id="wrapper">
        <section>
          <h3>Description of myself</h3>
          <img src="public/assets/images/goku" alt="My Culture">
          <p>i am form Jamaica and i came here to learn more about programing and to be able to develope my skills to be able to </p>
        </section>
        <section>
          <img src="public/assets/images/game" alt="working Environment">
          <p>The things that i like to do are playing games ,coding and learning about things i can do to advance my career in engineering.</p>
        </section>
      <footer>
        <img src="" alt="">
        <img src="" alt="">
        &copy;davidjchin2019
      </footer>
    </div>
  </body>
</html>
