<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David Chin | developer</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body style="background-color:#4cbcfe">
    <header>
      <h1>David Chin</h1>
      <h2>consulting</h2>
      <nav>
        <ul style="font-size:30px">
          <b><a href="/"><li>About</li></a></b>
            <b><a href="/project"><li>Projects</li></a></b>
            <b><a href="/XP"><li>Xp</li></a></b>
            <b><a href="/contact"><li>Contact</li></a></b>
        </ul>
      </nav>
    </header>
    <img src="" alt="developer image">
    <details open style="color:red; font-size:30px;">
      Name: David Chin<br>
      chinjdavid12@gmail.com<br>
      543-768-7984
    </details>
    <footer>
      <img src="" alt="">
      <img src="" alt="">
      &copy;davidjchin2019
    </footer>
  </body>
</html>
