<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>David Chin | developer</title>
  <link rel="stylesheet" href="assets/main.css">
  </head>
  <body style="background-color:#4cbcfe">
    <header>
      <h1>David Chin</h1>
      <h2>consulting</h2>
      <nav>
        <ul style="font-size:30px">
          <b><a href="/"><li>About</li></a></b>
            <b><a href="/project"><li>Projects</li></a></b>
            <b><a href="/XP"><li>Xp</li></a></b>
            <b><a href="/contact"><li>Contact</li></a></b>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
      <ul>
        <li>
          <a href="https://scratch.mit.edu/projects/253777419/#editor" target="_blank"><img src="public/assets/images/img-20181108T130210Z-001/img/Screenshot_2018-11-13 Scratch - Imagine, Program, Share(1).png" alt="scratch project">
          </a>
            <p>This project was done on a coding program called scratch where we had to create a small code that could run a set of directions perfectly without disruption </p>

          <a href="https://radiant-brook-64505.herokuapp.com/index.html"target='_blank'> <img src="public/assets/images/Screenshot from 2019-04-04 08-26-37.png" alt="Full Stack conf">
          </a> 
            <p>This project was done for both a grade and to show the progress i have made during the classes i have done at this time. This was a project that was done to show a shedule of speakers that were to meet with individuals and talk to them about the computer and the advantages and job opportunities they can get from programing </p>
        </li>
      </ul>
      <footer>
        <img src="" alt="">
        <img src="" alt="">
        &copy;davidjchin2019
      </footer>
    </div>
  </body>
</html>
