<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>David Chin | developer</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body style="background-color:#4cbcfe">
    <header>
      <h1>David Chin</h1>
      <h2>consulting</h2>
      <nav>
        <ul style="font-size:30px">
          <b><a href="/"><li>About</li></a></b>
            <b><a href="/project"><li>Projects</li></a></b>
            <b><a href="/XP"><li>Xp</li></a></b>
            <b><a href="/contact"><li>Contact</li></a></b>
        </ul>
      </nav>
    </header>
    <section>
      <h2>The Scratch project</h2>
      <p> This project was a very easy and relaxing way to enter into the programing world and to start out with something like this made programming fun and exciting to do and it gave upm a chance to experience how programers do thier jobs in its simplest form.</p>
    </section>
    <section>
      <h2>Full Stack Conf</h2>
      <p>this project was a bit more challenging because after a few months of training we are now try</p>
    </section>
    <footer>
      <img src="" alt="">
      <img src="" alt="">
      &copy;davidjchin2019
    </footer>
  </body>
</html>
