/************************************
general-
***********************************/
#wrapper{
    max-width:940px;
    margin: 0 auto;
    padding: 0 16%;
   }
   img{
     max-width:20%;
   }
   body{
     font-family: "open sans";
   }
   a{
     text-decoration:none;
   }
   
   img{
     max-height: 100%;
   }
   h3{
     margin: 0 0 1em 0;
   }
   
   img{
     text-align: center;
   }
   
   p{
     font-size:20px;
   }
   
   
   /***************************************
   color-
   ***************************************/
   /* green header */
   header{
     background: #3969fe;font-size:30px;
     text-align: center;
     margin: 10px 220px;
     padding: 10px 0;
   
   }
   
   h3{
     font-size:30px;
   }
   /* nav background */
   nav {
     background:#000;
   }
   /* style our loop */
   h1,h2{
     color: #000;
   }
   /* style links */
   a{
     color:#6ab47b;font-size:30px;
   }
   /* selected nav links */
   nav a.selected , nav a:hover{
     color: #ff0000;
   }
   /* site body */
   body{
     background: #fff;
     color: #000000;
   }
   
   
   /***********************************************************************************
   Navigation
   ***********************************************************************************/
   /* to line up everything in navigation */
   nav li{
     display:inline-block;
   }
   /* to space everthing in navigation */
   nav{
     text-align: center;
     padding: 10px 0;
     margin: 20px 0 0;
   }
   